*{
    margin: 0px;
    padding: 0px;
      font-family: Arial, sans-serif;
}
p{
    font-size: 25px;
    margin-top: 40px;
    color: black;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}
.abt{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 70px;
}