
*{
    margin: 0px;
    padding: 0px;
     font-family: Arial, sans-serif;
     
}
.input input{
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
}
.logbt{
    margin-left: 700px;
}
.login{
    margin-top: 100px;
}
h2{
    font-size: 30px;
    margin-left: 700px;
}
