
*{
    margin: 0px;
    padding: 0px;
     font-family: Arial, sans-serif;
     
}
.input input{
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
}
.logbt{
    margin-left: 700px;
}

.h2{
    font-size: 30px;
    margin-left: 700px;
    color: aliceblue;
    
}
.back{
    background-image: url(https://wallpapers.com/images/hd/mystical-1920-x-1080-background-jjh6ixwp2xbwv9jk.jpg);
    height: 100vh;
}
.login{
    padding-top: 100px;
}