
*{
    margin: 0px;
    padding: 0px;
     font-family: Arial, sans-serif;
}
.bt{
    padding: 5px;
    border-radius: 5px;
    margin-left: 510px;
   display: flex;
   flex-wrap: wrap;
   margin-top: 20px;
}
select{
    margin-left: 510px;
    height: 50px;
    width: 510px;
    border-radius: 8px;
    padding-left: 10px;
    margin-top: 20px;
}
.bn{
    margin-left: 700px;
}

.table{
    margin: 20px;
}
.h1{
    margin-left: 700px;
}
.btn-group {
  display: flex;
 
  align-items: center;
  gap: 10px;
  margin-top: 20px;  
}
h2{
    margin-left: 700px;
}
.box{
    background-image: url(https://plus.unsplash.com/premium_photo-1663076518116-0f0637626edf?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va2luZ3xlbnwwfHwwfHx8MA%3D%3D);
    padding-top: 10px;
    padding-bottom: 16px;
}