*{
    margin: 0px;
    padding: 0px;
     font-family: Arial, sans-serif;
}
button{
    width: 99px;
}
.container{
     display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: flex-start;
    margin-bottom: 50px;
    margin-left: 50px;
}
input{
    text-align: center;
    margin: 50px;
    margin-left: 490px;
    border-radius: 8px;
    height: 40px;
    width: 500px;
}